/* Default styles for all devices */
body {
  font-family: 'General Sans', 'Arial', 'sans-serif';
    background-color: #d5e0e3;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #2b2b2b;
  }
 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

    .quiz-info {
      width: 70%;
      display: flex;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      margin-bottom: 4rem;
      font-size: 20px;
      border-bottom: 3px solid #9683ff;
  }
  
  #quiz-content {
      display: grid;
      grid-template-columns: repeat (4, 2fr);
      grid-gap: 1em;
      max-width: 100%;
      min-width: 70%;
      margin-top: 3rem;
    }
    #quiz-content > .quiz-info {
    align-items: center;
    justify-content: center;
}
.question-container {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 270px;
  } 
  
  .container  { 
    display: flex;
        flex-direction: row-reverse;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      
      .navigation button {
        cursor: pointer;
        padding: 10px;
        margin: 8px 5px;
      }
      .navigation #prev-btn {
        border: 3px solid #501DFF;
        border-radius: 10px;
        background-color: #908efdfd;
        font-size: 0.9rem;
        font-weight: 550;
        letter-spacing: 0.4px;
        color: #fff;
      }
      .navigation #prev-btn:hover {
        background-color: #501DFF;
        transition: 0.3s all;
      }
      .navigation #next-btn {
        background-color: #501DFF;
        border: 3px solid #521dff00;
        border-radius: 10px;
        color: white;
        font-size: 0.9rem;
        font-weight: 550;
        letter-spacing: 0.4px;
      }
      .navigation #next-btn:hover {
        background-color: #431dffb8;
        transition: 0.3s all;
      }
    .navigation #finish-btn {
        background-color: #501DFF;
        border: none;
        padding: 15px 40px;
        border-radius: 10px;
        color: white;
        font-size: 0.9rem;
        font-weight: 550;
        letter-spacing: 0.4px;
      }
    #next-btn i.fa-solid {
        padding-left: 8px;
    }
    #prev-btn i.fa-solid {
        padding-right: 8px;
    }
  .test-number,
  .question-number {
    text-align: center;
  }
  
  .question-number {
    flex-grow: 1;
    text-align: right;
  }

  
  .text-container {
    font-size: 22px;
    max-width: 40%;
    color: #1c0e6b;
    letter-spacing: 0.25px;
}

.image-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0rem;
    max-height: 300px;
}
.image-container img  {
    max-width: 400px;
    min-width: 180px;
    display: flex;
    justify-content: start;
    margin-right: 40px;
    border-radius: 13px;
    margin-bottom: 11px;
}
  
h3 {
    margin-bottom: 25px;
    line-height: 28px;
}

.question-buttons {
    margin-right: 5rem;
  } 

  label.form-check-label img .answer-image {
    display: flex;
  text-align: center;  
    font-size: 5px;
}
  
  button.question-button {
    margin: 0.45rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #a2a6e4;
    border: none;
    font-size: 18px;
    border-radius: 5px;
  }

.test-no {
  display: flex;
  justify-content: start;
  width: 20%;
  float: left;
}
.answer-order {
display: flex;
justify-content: end;
width: 20%;
float: right;
}

nav > .nav-container {
  height: 50px;
  background-color: #9683ff2d;
  font-size: 24px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.nav-title {
  display: flex;
  font-weight: 500;
}
ul > li> a {
    font-size: 18px;
  }
  
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  ul li a {
    text-decoration: none;
    margin: 0.6rem;
    color: #2b2b2b;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    position: absolute;
    bottom: 0px;
    border-top: 3px solid #9683ff;
    z-index: -1;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: 500;
  }
  .footer-container a, p, li {
    color: #100048;
  }
  .footer-container li {
    margin-top: 5px;
  }
  .developer {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
  }


  @media (max-width: 576px) {
    html, body {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
  }
    nav {
      display: block;
      height: 50px;
      width: 100%;
      margin-bottom: 1rem;
    }
    div.nav-container {
      display: flex;
      padding: 0px 0px;
    }
    .nav-title {
      display: block;
      font-size: 15px;
    }
    ul > li > a {
      display: flex;
      font-size: 12px;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 0;
    }
    .question-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
    } 
    .quiz-info {
      display: block;
    }
    #quiz-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
    }
    .form-check label {
      width: auto;
      border: 3px solid #4f4f4f;
      padding: 10px 5px 10px 40px !important;
      font-size: 16px;
      font-weight: 500 !important;
    }
    h3 {
      margin-bottom: 5px;
      margin-top: 5px;
      font-size: 19px;
      line-height: 23px;
    }
    .text-container {
      font-size: 18px;
      max-width: 85%;
    }
    .quiz-info {
      margin-top: 0px;
      margin-bottom: 0px;
      display: flex;
      width: 90%;
      text-align: center;
      justify-content: center;
    }

    .test-no {
      margin-right: 4rem;
    }

    .answer-order {
      margin-left: 4rem;
      margin-right: 0rem;
    }
    .question-buttons {
      margin: auto;
      text-align: center;
      padding: 0;
      width: 100%;
    }
    button.question-button {
      margin: 0.2rem;
      text-align: center;
      font-size: 14px;
      width: 25px;
      height: 25px;
      text-align: center;
    }

    footer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 2rem;
      bottom: 0px;
      position: relative;
    }
    .footer-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 15px;
      line-height: 10px;
    }
    .footer-container  a {
      text-decoration: none;
    }
    .footer-container i {
      text-decoration: none;
      color: #2b2b2b;
      font-size: 20px;
      margin-left: 5px;
      margin-right: 5px;
    }
    .developer {
      font-size: 13px;
      color: #2b2b2b;
      margin-top: 5px;
    }
    .navigation {
      text-align: center;
      display: flex;
      width: 85%;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    #finish-btn {
      display: inline;
      align-items: center;
      border-radius: 5px;
      width: 100%;
    }
    .image-container {
      max-height: 250px;
    }
    .image-container img  {
      max-width: 300px;
      min-width: 100px;
      border-radius: 13px;
      max-height:250px;
      margin: 0;

  }
}
  
  .form-check {
    background-color: #c7cce9;
    display: block;
    margin: 10px 0;
    position: relative;
    font-size: 18px;
    border-radius: 15px;
    align-items: center;
    color: #2b2b2b;
  }
  
  .form-check label {
    border: 3px solid #9d9cb6a2;
    padding: 12px 30px 12px 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    border-radius: 13px;
    font-weight: 450;
    letter-spacing: 0.4px;
    line-height: 20px;
  }

  .feedback-icon {
    margin-right: 5px; 
  }
  
  .correct {
    color: #008000 !important; 
    background-color: #c1f9c1;
    border: 3px solid #008000;
  }
  
  .incorrect {
    color: #800000 !important; 
    background-color: #f9c1c1;
    border: 3px solid #800000;
  }
  
  .form-check label:before {
    width: 16px;
    height: 16px;
    border-radius: 30%;
    content: '';
    position: absolute;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0;
    z-index: -1;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
  }
  
  .form-check label:after {
    width: 16px;
    height: 16px;
    content: '';
    border: 2px solid #b0b5bb;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 40 40'%3E%3Cpath d='M3.536 3.536L26.464 26.464M3.536 26.464L26.464 3.536' stroke='%23fff' stroke-width='4' align-items='center' stroke-linecap='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0.71px 0px;    
    border-radius: 30%;
    z-index: -1;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
  }
  
  .form-check input:checked ~ label {
    color: #071047;
    border: 3px solid #071047;
  }
  
  .form-check input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
  }
  
  .form-check input:checked ~ label:after {
    background-color: #050a2e;
    border-color: #050a2e;
  }
  
  .form-check input {
    width: 20px;
    height: 20px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }

  .imageInAnswer {
    max-height: 55px;
  }

  .centered-content {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }


  .hidden {
    display: none;
}

.wrong-answer label {
  background-color: red;
  color: white; 
}

.correct-answer {
  background-color: green;
  color: white; 
}

:disabled {
  opacity: 0.6;
  transition: .3s all ease-in-out;
}

